# Data Analysis - check correctness of the data

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('out.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57521 entries, 0 to 57520
Data columns (total 23 columns):
url                    57521 non-null object
itemName               57521 non-null object
currentPrice           53928 non-null object
oldPrice               26004 non-null object
description            40987 non-null object
averageRating          13770 non-null object
author                 55464 non-null object
editorialReviews       9529 non-null object
format                 15261 non-null object
category               57521 non-null object
release_date           18110 non-null object
isbn-13                30481 non-null object
publisher              39355 non-null object
publication_date       39391 non-null object
series                 13612 non-null object
pages                  28644 non-null object
sales_rank             26804 non-null object
product_dimensions     23788 non-null object
age_range              7109 non-null object
edition_description    6012 non-null object
file_size              15245 non-null object
upc                    18145 non-null object
original_release       63 non-null object
dtypes: object(23)
memory usage: 10.1+ MB

In [3]:
df.head()

,url,itemName,currentPrice,oldPrice,description,averageRating,author,editorialReviews,format,category,...,publication_date,series,pages,sales_rank,product_dimensions,age_range,edition_description,file_size,upc,original_release
0,https://www.barnesandnoble.com/w/nows-the-time...,Now's the Time,NaN,NaN,NaN,NaN,Sonny Rollins,NaN,NaN,Music,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0601704292724,NaN
1,https://www.barnesandnoble.com/w/on-becoming-c...,On Becoming Childwise: Parenting Your Child fr...,$15.11,$15.95,"As a child moves beyond the toddler years, new...",4.5,Gary Ezzo,NaN,NaN,Books,...,11/01/2001,NaN,261,"345,862",5.18(w) x 8.16(h) x 0.78(d),NaN,Reissue,NaN,NaN,NaN
2,https://www.barnesandnoble.com/w/fledgling-han...,The Fledgling Handbook 101,$15.29,$16.99,"Merry meet, fledgling. Welcome to a new life, ...",4.3,P. C. Cast,Cast and Cast pull out all the stops and take ...,NaN,Teen Books,...,10/26/2010,House of Night Series,157,"256,680",8.54(w) x 11.80(h) x 0.48(d),13 - 17 Years,NaN,NaN,NaN,NaN
3,https://www.barnesandnoble.com/w/best-silverto...,Best: Silvertone Years,$37.04,$38.99,NaN,NaN,Buddy Guy,NaN,NaN,Music,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4547366060225,NaN
4,https://www.barnesandnoble.com/w/quote-acrosti...,Quote Acrostic Favorites: Features 50 Rewardin...,$9.95,NaN,"If You Like Crossword Puzzles, You'll Love Acr...",NaN,Charles Preston,NaN,NaN,Books,...,08/01/2019,"Puzzle Books for Fun\n, #5",70,"781,068",8.50(w) x 11.02(h) x 0.14(d),NaN,NaN,NaN,NaN,NaN

In [5]:
df['category'].value_counts()

Books                  33445
Music                  18046
Kids' Books             2990
Textbooks               1710
Teen Books               871
NOOK Books               330
category                  33
Movies & TV               33
Newsstand                 30
Gift, Home & Office       13
Toys                       9
128145                     4
129658                     2
123419                     2
NOOK                       2
11361                      1
Name: category, dtype: int64

In [7]:
df['age_range'].value_counts()

18  Years               2432
8 - 12 Years             418
4 - 8 Years              310
13 - 17 Years            210
12  Years                188
9 - 12 Years             175
13 - 18 Years            161
12 - 17 Years            159
14 - 17 Years            131
7 - 10 Years             128
3 - 5 Years              128
5 - 8 Years              128
16  Years                118
13  Years                111
3 - 7 Years               97
6 - 8 Years               94
4 - 7 Years               90
2 - 5 Years               82
16 - 18 Years             79
14 - 18 Years             77
6 - 9 Years               73
10 - 14 Years             72
5 - 11 Years              62
3 Months to 18 Years      62
3 Months to 3 Years       53
8 - 11 Years              49
3 - 6 Years               48
5 - 7 Years               48
12 - 18 Years             45
4 - 6 Years               43
                        ...
2 - 8 Years                1
14 - 16 Years              1
6 - 16 Years               1
8 - 16 Years               1
16 - 12 Years              1
3 - 11 Years               1
2 - 7 Years                1
4 - 13 Years               1
21 Months to 3 Years       1
3 - 17 Years               1
14 - 10 Years              1
1 - 6 Years                1
9 - 16 Years               1
1 - 8 Years                1
1 - 10 Years               1
2 - 12 Years               1
12 - 10 Years              1
Up to 4  Years             1
9 - 15 Years               1
6 - 18 Months              1
Up to 6  Years             1
3 Months                   1
16 - 10 Years              1
4 - 14 Years               1
Up to 2  Years             1
3 Months to 6 Years        1
17 - 18 Years              1
18 - 13 Years              1
2 - 18 Years               1
9 - 8 Years                1
Name: age_range, Length: 169, dtype: int64

In [8]:
df['original_release'].value_counts()

original_release    33
0000                13
1998                 2
2008                 1
1938                 1
2003                 1
1986                 1
2005                 1
1994                 1
2007                 1
2012                 1
2015                 1
2010                 1
1954                 1
2013                 1
2006                 1
2000                 1
2011                 1
Name: original_release, dtype: int64